# 操作系统文件
.DS_Store
Thumbs.db
Desktop.ini

# 编辑器
.vscode/
.idea/
*.swp
*.swo
*~

# 日志
*.log
npm-debug.log*

# 临时文件
*.tmp
.cache/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
